<%- include('../partials/header', {user: user}) %> 
<main> 
    <%- include('../partials/sidebar', {chatList: chatList}) %> 
    <section id="chat-section">
        <div>
            <div>
                <img
                    src="/images/default_user_image.jpg"
                    alt="Profile Picture"
                    class="profile-picture"
                />
                <div>
                    <span id="chat-receiver-username"
                        ><%= chat.chatMates.join(', ') %></span
                    >
                </div>
            </div>
            <div>
                <button class="btn-round">
                    <i class="fas fa-paperclip"></i>
                </button>
                <button class="btn-round">
                    <i class="fas fa-ellipsis-v"></i>
                </button>
            </div>
        </div>
        <div id="chat-box">
            <div>
                <% for (let message of chat.messages) { %>
                <div class=<%= message.sender !== user.username ?
                        'received-message-block': 'sent-message-block'%>>
                    <% if (message.sender !== user.username) { %>
                    <span class="sender-username"><%= message.sender %> </span>
                    <% } %>
                    <div>
                        <% if (message.sender !== user.username) { %>
                        <img 
                            src="/images/default_user_image.jpg"
                            alt="Profile Picture"
                            class="profile-picture"
                        />
                        <% } %> 
                        <div class="chat-message-box">
                            <p><%= message.textContent %></p>
                        </div>
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                    <span class="time-ellapsed"><%= message.timePassed  %> </span>
                </div>
                <% } %>
            </div>
            <div>
                <form action="" id="chat-form">
                    <input
                        type="text"
                        placeholder="Type a message here"
                    />
                    <button class="btn-round btn-color">
                        <i class="fa-regular fa-paper-plane"></i>
                    </button>
                </form>
            </div>
        </div>
    </section>
</main>
<%- include('../partials/footer') %> 