<%- include('../partials/header', {user: user}) %> 
<main> 
    <%- include('../partials/sidebar', {chatList: chatList}) %> 
    <section id="all-friends-section">
        <%- include('navigation') %>
        <ul id="friend-list">
            <% for (let friend of user.friends) { %>
            <li>
                <figure>
                    <img 
                        src="/images/default_user_image.jpg"
                        alt="Profile Picture"
                        class="profile-picture"
                    />
                    <figcaption class="username"><a href="">Eli<%= friend.username %></a></figcaption>
                </figure>
            </li>
            <% } %>
        </ul>
    </section>
    <section id="right-sidebar-section"></section>
</main>
<%- include('../partials/footer') %> 
