<%- include('../partials/header', {user: user}) %> 
<main> 
    <%- include('../partials/sidebar', {chatList: chatList}) %> 
    <section id="sent-requests-section">
        <%- include('navigation') %>
        <ul id="sent-requests-list">
            <% for (let request of sentRequests) { %>
            <li>
                <div>
                    <figure>
                        <img 
                            src="/images/default_user_image.jpg"
                            alt="Profile Picture"
                            class="profile-picture"
                        />
                        <figcaption class="username"><a href=""><%= request.requestee.username %></a></figcaption>
                    </figure>
                    <form action="/friends/requests/delete/<%= request._id %>" method="POST">
                        <button type="submit" class="btn-default .btn-color">Cancel</button>
                    </form>
                </div>
            </li>
            <% } %>
        </ul>
    </section>
</main>
<%- include('../partials/header', {user: user}) %> 