<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700;900&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/css/all.css" />
        <link rel="stylesheet" href="/css/chat.css" />
        <title>Chat | WatchApp</title>
    </head>
    <body>
        <%- include('partials/navbar') %>
        <main>
            <section id="chat-list-section">
                <div>
                    <h1 class="text-shadow">Friends <span></span></h1>
                    <button class="btn-default btn-color box-shadow">
                        +Create New Chat
                    </button>
                </div>
                <div>
                    <input type="text" placeholder="Search" />
                </div>
                <div id="chat-list">
                    <% for (let chat of chatList) { %>
                    <a class="chat-list-item" href="/chat/<%= chat._id %>">
                        <div>
                            <img
                                src="/images/default_user_image.jpg"
                                alt="Profile Picture"
                                class="profile-picture"
                            />
                        </div>
                        <div>
                            <div>
                                <span
                                    ><%= chat.chatMates[0].username %>
                                    <span>...writes</span></span
                                >
                                <small class="time-ellapsed"
                                    ><%= chat.timePassed %>
                                </small>
                            </div>
                            <p><%= chat.lastChatMessage %></p>
                        </div>
                    </a>
                    <% } %>
                </div>
            </section>
            <!-- ##################################################################################################################################################################################################################################################################################################### -->
            <% if (!chat) { %>
            <section id="chat-section-initial">
                <h1>Select a message</h1>
                <p>
                    Choose from your existing conversations or start a new one.
                </p>
                <button class="btn-default btn-color box-shadow">
                    + New Message
                </button>
            </section>
            <% } else { %>
            <section id="chat-section">
                <div>
                    <div>
                        <img
                            src="/images/default_user_image.jpg"
                            alt="Profile Picture"
                            class="profile-picture"
                        />
                        <div>
                            <span id="chat-receiver-username"
                                ><%= user.username !== chat.users[0].username ?
                                chat.users[0].username:
                                chat.users[1].username%></span
                            >
                        </div>
                    </div>
                    <div>
                        <button class="btn-round">
                            <i class="fas fa-paperclip"></i>
                        </button>
                        <button class="btn-round">
                            <i class="fas fa-ellipsis-v"></i>
                        </button>
                    </div>
                </div>
                <div id="chat-box">
                    <div>
                        <% for (let chatMessage of chat.chatMessages) { %>
                        <div class=<%= chatMessage.sender !== user.username ?
                                'chat-message-block': 'user-message-block'%>>
                            <div>
                                <% if (chatMessage.sender !== user.username) { %>
                                <img 
                                    src="/images/default_user_image.jpg"
                                    alt="Profile Picture"
                                    class="profile-picture"
                                />
                                <% } %> 
                                <div class="chat-message-box">
                                    <p><%= chatMessage.textContent %></p>
                                </div>
                                <i class="fas fa-ellipsis-h"></i>
                            </div>
                            <span class="time-ellapsed"><%= chatMessage.timePassed  %> </span>
                        </div>
                        <% } %>
                    </div>
                    <div>
                        <form action="" id="chat-form">
                            <input
                                type="text"
                                placeholder="Type a message here"
                            />
                            <button class="btn-round btn-color">
                                <i class="fas fa-location-arrow"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </section>
            <% } %>
              <!-- ##################################################################################################################################################################################################################################################################################################### -->
            <section id="chat-options-section"></section>
        </main>
        <script
            src="https://kit.fontawesome.com/a076d05399.js"
            crossorigin="anonymous"
        ></script>
        <script src="http://<%= hostURL %>/socket.io/socket.io.js"></script>
        <script src="/js/MessageComponent.js"></script>
        <script src="/js/utils.js"></script>
        <script src="/js/chat.js"></script>
    </body>
</html>
