<%- include('partials/header', {user: user}) %> 
<main> 
    <%- include('partials/sidebar', {chatList: chatList}) %> 
    <section id="chat-section-initial">
        <h1>Create a message</h1>
        <div class="form-group">
            <p>
                Choose from your existing conversations or start a new one.
            </p>
            <a class="btn-default btn-color box-shadow" href="/chat/new">
                + New Message
            </a>
        </div>
        <h1>Add friend</h1>
        <form action="/friends/sendFriendRequest" method="POST">
            <p>You can add friends with their ChatApp usernames.</p>
            <div class="form-group">
            <input type="text" placeholder="Username" name="requesteeUsername"/>
            <button type="submit" class="btn-default btn-color box-shadow">
                + Add Friend
            </button>
            <% if (success.length > 0)  { %>
                <p class="success"><%= success %></p>
            <% } %>
            <% if (error .length > 0)  { %>
                <p class="error"><%= error %></p>
            <% } %>
        </div>
        </form>
    </section>
    
</main>
<%- include('partials/footer') %> 